{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dana E. Stubkjaer</title>
    <link href="{% static 'pages/css/sassfolio.css' %}" type="text/css" rel="stylesheet">
</head>

<main>
    <div class="banner">

    </div>
</main>

<aside class="short-bio">
 <h1>Dana Stubkjaer</h1>
    <h2>Analyst, Linguist, Developer</h2>

    <p class="serif">From military intelligence work on Sunni extremist groups to prosecuter in Iraqi courts to research on Portland's
        city council, Dana looks for places to apply critical analysis and careful design to solving problems.</p>
</aside>


<section>
    <h2>Projects</h2>
    <ul>
        <li>
            <div class="project">
                <a href="">
                    <span></span>
                    <div id="burger-chain" class="project-image"></div>
                </a>
            </div>
            <a href="">Burger Chain</a>
            <p class="serif">Django storefront and introduction to block chain.</p>
        </li>

        <li>
            <div class="project">
                <a href="">
                    <span></span>
                    <div  id="portland-council" class="project-image"></div>
                </a>
            </div>
            <a href="">Linguistics</a>
            <p class="serif">Portland City Council Linguistic Data.</p>
        </li>



        <li>
            <div class="project">
                <a href="">
                    <span></span>
                    <div id="military-intelligence" class="project-image"></div>
                </a>
            </div>
            <a href="">Military Intelligence</a>
            <p class="serif">Counterterrorism Analyst and Expert Witness</p>
        </li>

        <li>
            <div class="project">
                <a href="">
                    <span></span>
                    <div id="code-guild" class="project-image"></div>
                </a>
            </div>
            <a href="">Code Guild</a>
            <p class="serif">A collection of small exploratory projects.</p>
        </li>

    </ul>
</section>

<footer>
    <ul>
        <li>
            <a class="emailLink" href="">dana.stubkjaer@gmail.com</a>
        </li>
        <li>
            <a class="githubLink" href="">github.com/Azenwrath/</a>
        </li>
        <!--<li>-->
            <!--<a class="phoneLink" href="">111-111-1111</a>-->
        <!--</li>-->
    </ul>
</footer>

Banner Photo via <a href="https://visualhunt.com/re/5be441">Visual Hunt</a><br>
<a href='http://www.freepik.com/free-vector/yellow-background-with-appetizing-burger-in-flat-design_1140580.htm'>Burger designed by Freepik</a>